<ul>
  <li><%= link_to "Create Fers", new_referral_path %></li>

</ul>
<br /><br />
<h1 class="new_fer">My Fers</h1><br />
<div class="row center-text">



  <% @referrals.each do |referral| %>
      <div class="all_fers">
        <hr />
        <p><b>Show watched: <%= referral.user_input %></b></p>
        <p>Happy: <%= referral.is_happy %></p>
        <p>Heart Touching: <%= referral.is_emo %></p>
        <p>Shocking! <%= referral.is_shock %></p>
        <p>Hated it becuase it was SO GOOD! <%= referral.is_hate %></p><br />

        <%= link_to 'Delete', referral, method: :delete, data: { confirm: 'Are you sure?' } %></h5><br>
        <hr />
      </div>
  <% end %>

</div>